        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta name="description" content="TFG Monitorizacion Inteligente de Cultivos Agricolas">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Jorge Gonzalez Escribano">
        <meta content="utf-8" http-equiv="encoding">
        <title>Monitorizacion Inteligente de Cultivos Agricolas</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
